

.iuasrS {
  width: 100%;
  height: 100%;
}

.iuasrS {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;
  background: rgb(148, 191, 255);
}

.gRDgYd {
  display: flex;
  flex-wrap: wrap;
  width: 584px;
}

.iWbZiF {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 362px;
}

.hVQkDu {
  width: 100%;
  height: 100%;
  background-color: rgb(148, 191, 255);
  overflow: hidden;
}

.cdkFCM {
  position: relative;
  height: 100%;
  overflow: hidden;
}

a {
  color: rgb(0, 127, 240);
  text-decoration: none;
}

a:hover {
  opacity: 0.95;
}

.cdkFCM:hover .slick-arrow {
  opacity: 1;
}

.cdkFCM .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  opacity: 0.3;
  z-index: 1;
}

.cdkFCM .slick-arrow.slick-prev {
  left: 10px;
}

.cdkFCM .slick-prev {
  left: 0px;
}

a {
  background-color: transparent;
}

.hVQkDu a {
  outline: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.cdkFCM .slick-arrow .icon {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding-right: 2px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
}

.tikicon {
  display: inline-block;
  vertical-align: middle;
}

.tikicon.icon-arrow-back {
  background-image: url("../img/sprite.png?v=100000000");
  background-position: -392px -189px;
  width: 8px;
  height: 14px;
}

.cdkFCM .slick-list {
  margin-left: 0px;
  margin-right: 0px;
}

.cdkFCM .slick-track {
  display: flex;
}

.cdkFCM .slick-slide {
  height: auto;
}

.cdkFCM .slick-slide>div {
  height: 100%;
}

.lbGmZe {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 584px;
  height: 365px;
}

img {
  max-width: 100%;
}

img {
  border-style: none;
}

.lbGmZe .image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

.cdkFCM .slick-arrow.slick-next {
  right: 10px;
}

.cdkFCM .slick-next {
  right: 0px;
  transform: rotate(180deg);
}

.cdkFCM .slick-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.cdkFCM .slick-dots li {
  display: inline-block;
  font-size: 0px;
}

.cdkFCM .slick-dots li button {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 1px 2px;
  padding: 0px;
  background-color: rgb(129, 129, 129);
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;
  opacity: 0.7;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.cdkFCM .slick-dots li.slick-active button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(146, 146, 146);
  opacity: 0.5;
}

.hpOgho {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cEiSUm {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 181px;
  background: rgb(148, 191, 255);
}

.fKjqjM {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 292px;
  height: 181px;
}

.fKjqjM .image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

.cwnFBY {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 181px;
  background: rgb(185, 213, 255);
}

.kvcDZQ {
  display: flex;
  flex-wrap: wrap;
  width: 412px;
}

.jjyYZh {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 206px;
  height: 181px;
}

.jjyYZh .image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.iuasrS {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;
  width: 996px;
  background: rgb(148, 191, 255);
}

.gRDgYd {
  display: flex;
  flex-wrap: wrap;
  width: 584px;
}

.iWbZiF {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 362px;
}

.hVQkDu {
  width: 100%;
  height: 100%;
  background-color: rgb(148, 191, 255);
  overflow: hidden;
}

.cdkFCM {
  position: relative;
  height: 100%;
  overflow: hidden;
}

a {
  color: rgb(0, 127, 240);
  text-decoration: none;
}

a:hover {
  opacity: 0.95;
}

.cdkFCM:hover .slick-arrow {
  opacity: 1;
}

.cdkFCM .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  opacity: 0.3;
  z-index: 1;
}

.cdkFCM .slick-arrow.slick-prev {
  left: 10px;
}

.cdkFCM .slick-prev {
  left: 0px;
}

a {
  background-color: transparent;
}

.hVQkDu a {
  outline: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.cdkFCM .slick-arrow .icon {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding-right: 2px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
}

.tikicon {
  display: inline-block;
  vertical-align: middle;
}

.tikicon.icon-arrow-back {
  background-image: url("../img/sprite.png?v=100000000");
  background-position: -392px -189px;
  width: 8px;
  height: 14px;
}

.cdkFCM .slick-list {
  margin-left: 0px;
  margin-right: 0px;
}

.cdkFCM .slick-track {
  display: flex;
}

.cdkFCM .slick-slide {
  height: auto;
}

.cdkFCM .slick-slide>div {
  height: 100%;
}

.lbGmZe {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 584px;
  height: 365px;
}

img {
  max-width: 100%;
}

img {
  border-style: none;
}

.lbGmZe .image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

.cdkFCM .slick-arrow.slick-next {
  right: 10px;
}

.cdkFCM .slick-next {
  right: 0px;
  transform: rotate(180deg);
}

.cdkFCM .slick-dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.cdkFCM .slick-dots li {
  display: inline-block;
  font-size: 0px;
}

.cdkFCM .slick-dots li button {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 1px 2px;
  padding: 0px;
  background-color: rgb(129, 129, 129);
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;
  opacity: 0.7;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.cdkFCM .slick-dots li.slick-active button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(146, 146, 146);
  opacity: 0.5;
}

.hpOgho {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cEiSUm {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 181px;
  background: rgb(148, 191, 255);
}

.fKjqjM {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 292px;
  height: 181px;
}

.fKjqjM .image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

.cwnFBY {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 181px;
  background: rgb(185, 213, 255);
}

.kvcDZQ {
  display: flex;
  flex-wrap: wrap;
  width: 412px;
}

.jjyYZh {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 206px;
  height: 181px;
}

.jjyYZh .image {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
  .tikicon.icon-arrow-back {
    background-image: url("../img/sprite@2x.png?v=100000000");
    background-size: 404px 383px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
  .tikicon.icon-arrow-back {
    background-image: url("../img/sprite@2x.png?v=100000000");
    background-size: 404px 383px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
  .tikicon.icon-arrow-back {
    background-image: url("../img/sprite@2x.png?v=100000000");
    background-size: 404px 383px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
  .tikicon.icon-arrow-back {
    background-image: url("../img/sprite@2x.png?v=100000000");
    background-size: 404px 383px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
  .tikicon.icon-arrow-back {
    background-image: url("../img/sprite@2x.png?v=100000000");
    background-size: 404px 383px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
  .tikicon.icon-arrow-back {
    background-image: url("../img/sprite@2x.png?v=100000000");
    background-size: 404px 383px;
  }
}
